@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
}

:root {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-dark);
}

::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}